
* {
    padding: 0;
    margin: 0;
}


header {
    margin-bottom: -139px;
}

.header-info {
    max-width: 1400px;
    margin-left: 200px;
    align-items: center;
}

.d-flex1 {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none
}

header nav ul {
    display: flex;
    font-style: normal;
    list-style: none
}

header nav ul li:hover {
    font-weight: bold;
    transform: scale(1.3)
}

header nav ul li a {
    margin: 0 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

header ul {
    display: flex;
    font-style: normal;
    list-style: none
}

header ul li {
    margin: 0 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

header ul li a:hover {
    font-weight: bold;
    transform: scale(1.3);
}

header ul li a {
    font-weight: 500;
    margin: 0 10px;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal
}

.title_page {
    background-image: url(../images/logo2.jpg);
    background-size: cover;
    padding-top: 170px;
    padding-bottom: 45px
}

.page1-info {
    max-width: 1400px;
    margin: auto
}

.headline1 {
    font-weight: 600;
    font-size: 56px;
    line-height: 130%;
    color: #FFFFFF;
    text-shadow: 1px 1px 166px #000000;
    margin-bottom: 30px;
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
}

.our_clients {
    display: flex;
    max-width: 512px;
    background: #FFFFFF;
    opacity: 0.9;
    border-radius: 20px;
    margin-bottom: 98px
}

.clients_img {
    margin-top: 49px;
    margin-bottom: 42px;
    margin-left: 33px
}

.clients_text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    padding: 38px 33px 34px 105px;
    font-family: 'Roboto', sans-serif;
}

.order_project {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 1px 1px 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 48px 20px 48px;
    font-family: 'Roboto', sans-serif;
}

/*section 2*/
.about_us_page {
    padding-top: 14px
}

.back_img1 {
    width: 100%;
}

.page2_main {
    display: flex;
    max-width: 1400px;
    margin: auto;
    justify-content: space-between
}

.article_about_us {
    font-style: normal;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    margin-top: 281px;
    margin-left: 165px;
    font-family: 'Manrope', sans-serif;
}

.headline2 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    display: block;
    font-family: 'Gothic A1', sans-serif;
}

.we_want {
    max-width: 385px;
    display: block;
    margin-top: 20px
}

.image_bath {
    max-width: 770px;
    margin-top: 260px;
    margin-bottom: 160px;
}

/*section 3*/
.why_we_are {
    height: 656px;
    background: #4C6071 url("../images/Mask_Group.png");
}

.why_we_are h3 {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    padding-top: 60px;
    padding-left: 105px;
}

.why_we_are div {
    width: 865px;
    margin-left: 440px;
    align-items: center;
    margin-bottom: -80px;
}

.why_we_are article:before {
    content: "";
    position: absolute;
    width: 255px;
    height: 438px;
    margin-top: 158px;
    margin-right: 30px;
    background: #FFFFFF;
    border-radius: 20px;
}

.why_we_are img {
    position: absolute;
    padding-top: 224px;
    margin-left: 100px;
}

.why_we_are h1 {
    position: absolute;
    width: 195px;
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #373737;
    padding-top: 300px;
    margin-left: 33px;
}

.why_we_are h2 {
    position: absolute;
    width: 195px;
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #373737;
    padding-top: 310px;
    margin-left: 31px;
    align-items: center;
}

.why_we_are h4 {
    position: absolute;
    width: 195px;
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #373737;
    padding-top: 310px;
    margin-left: 31px;
    align-items: center;
}

.why_we_are h5 {
    position: absolute;
    width: 195px;
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #373737;
    padding-top: 310px;
    margin-left: 31px;
    align-items: center;
}

.why_we_are p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
    padding-top: 360px;
    margin-left: 33px;
    width: 195px;
    position: absolute;
}

/*section 4*/
.portfolio {
    padding-top: 1px;
    height: 1184px;
}

.portfolio div {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 1140px;
    padding-top: 140px;
}

.portfolio h1 {
    width: 410px;
    height: 31px;
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #373737;
    margin-left: 90px;
    position: absolute;
}

.portfolio h2 {
    width: 330px;
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
    margin-top: 405px;
    margin-left: 1px;
    position: absolute;
}

.portfolio h3 {
    width: 330px;
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
    margin-top: 405px;
    margin-left: 1px;
    position: absolute;
}

.portfolio p {
    width: 540px;
    height: 48px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
    position: absolute;
    margin-top: 430px;
    margin-left: 1px;
}

.portfolio button {
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 290px;
    height: 70px;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    border: none;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    margin-left: -154px;
    margin-top: 560px;
}

/*section 5*/
.choose_service{

}

/*section 6*/
.catalog{
    height: 1266px;
}

.catalog div{
    max-width: 1000px;
}

.catalog h3{
    font-family: 'Gothic A1',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #373737;
    margin-top: 200px;
    margin-left: 259px;
    position: absolute;
}

.first_line{
    display: flex;
    margin-right: 163px;
}

.first_line img{
    height: 255px;
    width: 255px;
    margin-top: 265px;
    margin-left: 162px;
}

.second_line{
    display: flex;
    margin-right: 163px;
}

.second_line img{
    height: 255px;
    width: 255px;
    margin-top: 30px;
    margin-left: 162px;
}

.catalog p{
    width: 255px;
    height: 24px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
    margin-left: 164px;
}
.catalog button{
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 255px;
    height: 70px;
    display: flex;
    flex-direction: row;
    padding: 1px;
    gap: 10px;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    margin-left: 755px;
    margin-top: 90px;
    border: none;
}
/*section 7*/
.video{
    background: #4C6071 url("../images/Mask_Group2.svg");
    height: 630px;
}
.video h2{
    position: absolute;
    padding-top: 60px;
    padding-left: 505px;
    font-family: 'Gothic A1',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    width: 410px;
    height: 31px;
    line-height: 130%;
    color: #FFFFFF;
}

.video div{
    display: flex;
    justify-content: space-between;
    width: 1070px;
    margin: auto;
    padding-top: 90px;
}

.video img{
    padding-right: 30px;
    border-radius: 50px;
}

.video h1{
    position: absolute;
    width: 158px;
    height: 24px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 275px;
    margin-left: 10px;
}


.video p{
    position: absolute;
    width: 253px;
    height: 48px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 300px;
    margin-left: 10px;
}


/*section 8*/
.last_page {
    padding-top: 21px;
}

.Lets_talk {
    display: flex;
    max-width: 1100px;
    margin: auto;
    justify-content: space-between
}

.headline3 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    padding-top: 202px;
    font-family: 'Gothic A1', sans-serif;
}

.last_form {
    max-width: 392px;
    display: block;
    margin-top: 69px
}

.about_user {
    width: 100%;
    border: none;
    border-bottom: solid 1px black;
    font-family: 'Roboto', sans-serif;
}

.comments {
    width: 100%;
    border: none;
    border-bottom: solid 1px black;
    resize: none;
    font-family: 'Roboto', sans-serif;
    line-height: 14px;
}

.order_project2 {
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    border: none;
    margin-top: 80px;
    padding: 20px 50px 20px 50px;
    font-family: 'Roboto', sans-serif;
}

.img\.sofa {
    max-width: 615px;
    margin-top: 202px;
    margin-bottom: 200px
}

footer {
    height: 246px;
    background: #4C6071 url("../images/Mask_Group.png");
    width: 100%;
}

.contacts {
    width: 107px;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-left: 400px;
    list-style: none;
    font-family: 'Gothic A1', sans-serif;
}

.social {
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    padding-bottom: 32px;
    list-style: none;
    margin-left: 400px;
    font-family: 'Roboto', sans-serif;
}

.social-icons {
    margin-left: 400px;

}

.facebook {
    background-image: url("../images/facebook-logo.svg");
    padding: 4px 11px;

}

.telegram {
    background-image: url("../images/telegram-logo.svg");
    padding: 4px 11px;
    margin-left: 24px;
}

.instagram {
    background-image: url("../images/instagram 2.svg");
    padding: 4px 11px;
    margin-left: 24px;
}

.viber {
    background-image: url("../images/viber-square 1.svg");
    padding: 4px 11px;
    margin-left: 24px;
}

.general-contacts {
    width: 119px;
    height: 24px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    list-style: none;
    padding-bottom: 25px;
    margin-top: -121px;
    margin-left: 700px;
    font-family: 'Roboto', sans-serif;
}

.email {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    list-style: none;
    margin-left: 670px;
    padding-bottom: 25px;
    font-family: 'Roboto', sans-serif;
}

.phone-link {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    list-style: none;
    margin-left: 690px;
    font-family: 'Roboto', sans-serif;
}

.google-map {
    margin-left: 970px;
    margin-top: -135px;
}

footer img {
    border-radius: 24px;
}

.text-map {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    margin: -105px 40px 20px -350px;
    font-family: 'Montserrat', sans-serif;
}
















